@import "tailwindcss";


@font-face {
  font-family: "Helvetica Neue LT Arabic";
  src: url("/assets/fonts/HelveticaNeueLTArabic-Roman.woff2") format("woff2"),
    url("/assets/fonts/HelveticaNeueLTArabic-Roman.woff") format("woff"),
    url("/assets/fonts/HelveticaNeueLTArabic-Roman.eot") format("embedded-opentype");
  font-weight: 400;
  font-style: normal;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-helvetica: "Helvetica Neue LT Arabic", sans-serif;

}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-helvetica);
}
